

//COLORS
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;
$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;
$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-light: #585757;


$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;
//FONT
$default-font-size: 1.2rem;

//GRID
$grid-width: 114rem;
$gutter-vertical: 1rem;
$gutter-horizontal: 1rem;

// PALETTE
$palette-white: #F4F1DE;
$palette-brown: #E07A5F;
$palette-blue: #3D405B;
$palette-green: #81B29A;
$palette-yellow: #F2CC8F;

// CASINO
$casino-green: #35654D;

